[submodule "vendor/github.com/Textualize/rich"]
	path = vendor/github.com/Textualize/rich
	url = git@github.com:Textualize/rich.git
	branch = v14.0.0
[submodule "vendor/github.com/tqdm/tqdm"]
	path = vendor/github.com/tqdm/tqdm
	url = git@github.com:tqdm/tqdm.git
[submodule "vendor/github.com/tartley/colorama"]
	path = vendor/github.com/tartley/colorama
	url = https://github.com/tartley/colorama
[submodule "vendor/github.com/Textualize/textual"]
	path = vendor/github.com/Textualize/textual
	url = https://github.com/Textualize/textual.git
